<footer class="footer mt-auto py-3 bg-light">
  <div class="container fw-normal">
    <span class="text-danger d-block mb-1">
      Copyright © 2026 · All rights reserved.
    </span>
    <p>
      This website, including all content, materials, and source code, is the property of
      Modern Arts Research Stories Next. Unauthorized use and/or duplication
      of this material without express and written permission from the site’s author and/or owner
      is strictly prohibited.
    </p>
  </div>
</footer>